body {
  font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.titulos{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.separador {
  width: 100%;
  height: 50px;
}

.separador-claro {
  background: #E8E9F3;
  width: 100%;
  height: 50px;
}

.gris {
  background: #272635;
  text-align: center;
  margin-top: 20px;
}
  
.gris p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
  
.gris a {
  text-decoration: none;
  color: #fff;
}

.gris-claro2 {
  background: #E8E9F3;
  width: 100%;
}